#main-head {color: rgb(100,200,200); background-color: pink; font-family: 'Times New Roman', Times, serif; font-size: 50px;}
.spag {background-color: aqua;}
.chicken {background-color: rgb(159,140,140);}
.smoothie {background-color: rgb(200,100,250);}
li, button {border: 2px greenyellow;padding-left: 2em; padding-right: 2em; padding-bottom: 2em; padding-top: 2em;}
ul {
    display: flex;
    list-style: none;
  }